/media/scenes/
/media/textures/
/ray_tracing__before/
/ray_tracing__simple/
/ray_tracing_animation/
/ray_tracing_anyhit/
/ray_tracing_callable/
/ray_tracing_instances/
/ray_tracing_intersection/
/ray_tracing_jitter_cam/
/ray_tracing_manyhits/
/ray_tracing_reflections/
